{{ if and .Site.Params.giscus.repo .Site.Params.ShowComments }}
<script src="https://giscus.app/client.js"
        data-repo="ArtmZhou/artmzhou.github.io"
        data-repo-id="R_kgDOOiMLTA"
        data-category="Announcements"
        data-category-id="DIC_kwDOOiMLTM4C6Y9f"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
